.poo {
    position: absolute;
    top: 0;
}

.drop-enter-active {
    transition: all 1s ease-in;
}

.drop-enter {
    transform: translateX(-50%) translateY(calc(0vh - 600px));
}

.drop-enter-to {
    transform: translateX(-50%) translateY(calc(100vh + 600px));
}